@import "bootstrap";

.clear {
  clear: both;
}

h1 {
  font-family: 'fira_sansultra', sans-serif;
}

h2 {
  font-family: 'fira_sansbold', sans-serif;
}

h3 {
  font-family: 'fira_sansbook', sans-serif;
}

.next-quote {
  color: #f84342;
}

.logo:hover {
  text-decoration: none;
}